* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
  padding-bottom: 70px;
}

.page {
  display: none;
  padding: 16px;
}

.page.active {
  display: block;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #111;
  color: white;
  border: none;
}

ul {
  padding-left: 20px;
}

.day-block {
  background: white;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 16px;
}

.session-block {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 3px solid #ddd;
}

/* MENU */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: white;
  border-top: 1px solid #ddd;
}

.bottom-nav button {
  flex: 1;
  background: none;
  font-size: 20px;
}
